/* 
    General Styles
*/
.circle {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: 20px;
    margin-left: 20px;
    object-fit: cover;
}

.btn {
    display: flex;
    margin-right: 30px; 
    margin-top: 10px;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

.edit-delete-icons {
    display: flex;
    gap: 30px; 
    margin-left: 765px; 
}

.d-flex {
    display: flex;
    align-items: flex-start;
}

.single-contact {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
}
.close{
    border: none;
}
@media (max-width: 768px) {
    .edit-delete-icons {
        margin-left: 15px; 
        justify-content: flex-start; 
        gap: 20px; 
    }
    .circle {
        width: 120px; 
        height: 120px;
        margin-left: 10px; 
    }
    .single-contact {
        margin-left: 10px; 
    }
}
